<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <!-- <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <a href="#!" class="btn btn-info">Consultar Funcionários</a>
          <a href="#!" class="btn btn-info">Editar Funcionários</a>
          <a href="#!" class="btn btn-info">Desativar Funcionários</a>
        </div>
      </div>
    </div> -->
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-10">
                            <h3 *ngIf="!moradorObject.ID_morador" class="mb-0">Incluir Morador</h3>
                            <h3 *ngIf="moradorObject.ID_morador" class="mb-0">Atualizar Morador</h3>
                        </div>
                        <div class="col-2">
                            <button *ngIf="!moradorObject.ID_morador" (click)="addMorador()" class="btn btn-md btn-success float-left text-white">Incluir Morador</button>
                            <button *ngIf="moradorObject.ID_morador" (click)="atualizarMorador()" class="btn btn-md btn-success float-left text-white">Atualizar Morador</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form #f="ngForm">
                        <h6 class="heading-small text-muted mb-4">Informações do Morador</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Nome do Morador</label>
                                        <input type="text" [(ngModel)]="moradorObject.nome" name="nome"
                                            class="form-control form-control-alternative" placeholder="Nome do Funcionário">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">CPF</label>
                                        <input type="text" [(ngModel)]="moradorObject.cpf" name="cpf"
                                            class="form-control form-control-alternative" placeholder="CPF">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Ativo</label>
                                        <select type="text" [(ngModel)]="moradorObject.ativo" name="ativo"
                                            class="form-control form-control-alternative">
                                            <option value="1" selected>Ativo</option>
                                            <option value="0">Desativado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Sexo</label>
                                        <select type="text" [(ngModel)]="moradorObject.sexo" name="sexo"
                                            class="form-control form-control-alternative">
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="dataNascimento">Data de Nascimento</label>
                                        <input max='2020-05-06' type="date" [(ngModel)]="moradorObject.dataNascimeto" name="dataNascimento" id="dataNascimento" class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Nome do PSF</label>
                                        <select type="text" [(ngModel)]="moradorObject.ID_PSF" name="nome" class="form-control form-control-alternative">
                                            <option *ngFor="let psf of psfArr | keyvalue" [value]="psf.key"> {{psf.key}} - {{psf.value.nome}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Telefone</label>
                                        <input type="text" [(ngModel)]="moradorObject.telefone" name="telefone"
                                            class="form-control form-control-alternative" placeholder="(xx) 9 9999-9999">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Número do Cartão do SUS</label>
                                        <input type="text" [(ngModel)]="moradorObject.nrCartaoSUS" name="nrCartaoSUS"
                                            class="form-control form-control-alternative" placeholder="Cartão do SUS">
                                    </div>
                                </div> 
                            </div>       
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Informações de Localização</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Logradouro</label>
                                        <input [(ngModel)]="moradorObject.logradouro" name="logradouro"
                                            class="form-control form-control-alternative" placeholder="Logradouro"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Número</label>
                                        <input type="number" [(ngModel)]="moradorObject.numero" name="numero"
                                            class="form-control form-control-alternative" placeholder="Número">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Bairro</label>
                                        <input type="text" [(ngModel)]="moradorObject.bairro" name="bairro"
                                            class="form-control form-control-alternative" placeholder="Bairro">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">CEP</label>
                                        <input type="text" id="input-postal-code" [(ngModel)]="moradorObject.cep" name="cep"
                                            class="form-control form-control-alternative" placeholder="CEP">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Cidade</label>
                                        <input type="text" id="input-postal-code" [(ngModel)]="moradorObject.cidade"
                                            name="cidade" class="form-control form-control-alternative"
                                            placeholder="Cidade">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Estado</label>
                                        <select [(ngModel)]="moradorObject.estado" name="estado"
                                            class="form-control form-control-alternative">
                                            <option value="">SELECIONE</option>
                                            <option value="AC">Acre</option>
                                            <option value="AL">Alagoas</option>
                                            <option value="AP">Amapá</option>
                                            <option value="AM">Amazonas</option>
                                            <option value="BA">Bahia</option>
                                            <option value="CE">Ceará</option>
                                            <option value="DF">Distrito Federal</option>
                                            <option value="ES">Espírito Santo</option>
                                            <option value="GO">Goiás</option>
                                            <option value="MA">Maranhão</option>
                                            <option value="MT">Mato Grosso</option>
                                            <option value="MS">Mato Grosso do Sul</option>
                                            <option value="MG">Minas Gerais</option>
                                            <option value="PA">Pará</option>
                                            <option value="PB">Paraíba</option>
                                            <option value="PR">Paraná</option>
                                            <option value="PE">Pernambuco</option>
                                            <option value="PI">Piauí</option>
                                            <option value="RJ">Rio de Janeiro</option>
                                            <option value="RN">Rio Grande do Norte</option>
                                            <option value="RS">Rio Grande do Sul</option>
                                            <option value="RO">Rondônia</option>
                                            <option value="RR">Roraima</option>
                                            <option value="SC">Santa Catarina</option>
                                            <option value="SP">São Paulo</option>
                                            <option value="SE">Sergipe</option>
                                            <option value="TO">Tocantins</option>
                                            <option value="EX">Estrangeiro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
