<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <!-- <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <a href="#!" class="btn btn-info">Consultar Funcionários</a>
        <a href="#!" class="btn btn-info">Editar Funcionários</a>
        <a href="#!" class="btn btn-info">Desativar Funcionários</a>
      </div>
    </div>
  </div> -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Cadastro de Funcionário</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informações do Funcionário</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Nome" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">CPF</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="CPF">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Data de Nascimento</label>
                    <input type="date" id="input-first-name" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-sexo">Sexo</label>
                    <select class="form-control" name="input-sexo" id="input-sexo">
                      <option value="Masculino">Masculino</option>
                      <option value="Feminino">Feminino</option>
                    </select>
                    <!-- <input type="text" id="input-last-name" class="form-control form-control-alternative"> -->
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações de Contato</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Cidade</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Cidade">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Bairro</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Bairro">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">CEP</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="CEP">
                  </div>
                </div>
              </div>              
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Endereço</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Endereço" type="text">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Número</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="Número">
                  </div>
                </div>
              </div>

            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
