.badge-adjustment {
    position: absolute;
    margin-left: 5px;
}

.item-title {
    width: 100%;
}

.buttons-section {
    text-align: center;
}

ion-button {
    font-size: 20px;
    font-weight: bold;
}

.no-items-container {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
        width: 50%;
    }
}
