<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div
                class="btn btn-secondary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
                >
                Mês Anterior
                </div>
                <div
                class="btn btn-outline-secondary bg-white"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                >
                Hoje
                </div>
                <div
                class="btn btn-secondary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
                >
                Próximo Mês
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-white" style = "text-transform:capitalize; font-size: 25px;">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
        </div>

    </div>
    <br />
    <div [ngSwitch]="view" class="mt--1">
        <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [locale]="locale"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
    </div>
</div>  
 